<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 - Joon Bank</title>
    <link rel="stylesheet" href="/css/globals.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar">
        <a href="/home"><div class="logo">Joon Bank</div></a>
        <div class="nav-items">
            <a href="#" class="nav-item">서비스</a>
            <a href="#" class="nav-item">고객센터</a>
            <a href="#" class="nav-item">공지사항</a>
        </div>
    </nav>

    <main class="login-container">
        <h2 class="login-title">회원가입</h2>
        <form class="login-form">
            <div class="input-group">
                <label for="name">실명</label>
                <input type="text" id="name" name="name" placeholder="아이디를 입력해주세요" required>
            </div>
            <div class="input-group">
                <label for="phoneNumber">전화번호</label>
                <input type="text" id="phoneNumber" name="phoneNumber" placeholder="전화번호를 입력해주세요" required>
            </div>
            <div class="input-group">
                <label for="username">아이디</label>
                <input type="text" id="username" name="username" placeholder="아이디를 입력해주세요" required>
            </div>
            <div class="input-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요" required>
            </div>
            <button id="signup-button" type="button" class="login-button">로그인</button>
        </form>
    </main>
</div>
<script src="/js/signup.js"></script>
</body>
</html>
