<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joon Bank</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<nav class="navbar">
    <div class="header-left">
        <a href="/home"><div class="header-logo">Joon Bank</div></a>
    </div>
    <div class="header-right">
    <button>
        <svg class="icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
        </svg>
        회원정보
    </button>
    <button>
        <svg class="icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
        </svg>
        로그아웃
    </button>
    </div>
</nav>

<div class="container">
    <div class="account-list">

        <div th:each="account : ${accounts}" class="account-card">
            <div class="account-nickname" th:text="${account.accountName}">계좌 별칭</div>
            <div class="account-number" th:text="${account.accountNumber}">계좌 번호</div>
            <div class="account-balance" th:text="${account.balance}">잔액</div>
        </div>

    </div>
    <a href="add-account">
    <button class="add-account-btn">
        <svg class="icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
        </svg>
        계좌 추가하기
    </button>
    </a>
</div>
</body>
</html>